.course-detail{
    .co-detail-over-view-title{
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity));    
        font-weight: 800;    
        margin-bottom: 1.25rem;
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 700;
        letter-spacing: -.025em;
    }
    .co-detail-over-view-description{
        line-height: 2.25rem;
        font-size: 1.5rem;
        letter-spacing: -.025em;
    }
    .co-detail-over-view-trust-score{

    }
   
}