
@import "assets/styles/common.scss";
.default-price{
    --tw-text-opacity: 1;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -.025em;
    span{
        text-decoration-line: line-through;
        --tw-text-opacity: 1;
        font-weight: 400;
        font-size: .875rem;
        line-height: 1.25rem;
        margin-left: 0.1rem;
    } 
    &:hover{
        color:$text-hover
    }
}
