.details-topic{
    width: 100%;
    background-color: #282C38;
    border-radius: 26px;
    color: white;
    .list-video{
        .icon-play{
            border-radius: 8px;
            margin-left: 21px;
        }
        .video-name{
            color:gray;
            padding:7px 15px !important;
            &:hover{
                background-color: unset;
            }
            .icon-play{
                border-color: 1px solid gray;
               color: gray;
            }
        }
        .is-visible{
            color:white; 
            padding:7px 15px !important;
            cursor: pointer;
            &:hover{
                background-color: gray;
            }
            .icon-play{
                border: 1px solid white;
                color:white
            }
        }
       
    }
}
.tower-one{
    min-height: 100vh;
    background-color: #1D212C;
    p{
        font-size: 18px
    }
    .box-radius {
        background-color:#282C38;
        border-radius: 26px;
        color: white;
    };
    .video-player{
        iframe {
            border-radius: 26px 26px 0 26px;
        }
    };
    .buttonPlay{
        padding: 20px;
        background-color: rgba(255,255,255,0.14);
        border-radius: 26px;
    }
  }
  

