@import "assets/styles/common.scss";
// Form dang ky
.wrapper-form {
  display: flex;
  justify-content: center;
  align-items: center;

  .borderForm {
    width: 600px;
  }
  .wrapper-button {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      color: $c-white-0;
      margin-top: 20px;
      background-color: $c-beyge-1;
      padding: 10px 20px;
      transition: all 0.5s;
      border: none;
      margin-bottom: 20px;
      border-radius: 10px;

      &:hover {
        background-color: $c-beyge-2;
      }
    }
  }
}

.form-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;

  label {
    text-transform: uppercase;
    color: $c-beyge-1;
    font-weight: 600;
  }

  input,
  select {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: 2px solid $c-gray-4;

    &:focus {
      border: 2px solid $c-beyge-2;
    }
  }

  ::placeholder {
    color: $c-gray-3;
    font-size: 15px;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .borderForm {
    border-radius: unset !important;
  }
}
